# ---------------------------
#  Node / Next.js
# ---------------------------
node_modules/
.next/
out/

# Local environment variables
.env
.env.*

# ---------------------------
#  Python / Django
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.cache
*.egg-info/
dist/
build/

# Virtual environment folders
venv/
.venv/

# ---------------------------
#  OS / Editor / Tooling
# ---------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# ---------------------------
#  Deliverables
# ---------------------------
deliverables/
